@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MvcApp.Models
@model IndexViewModel
 
@*подключаем все tag-хелперы*@
@addTagHelper *, MvcApp

<style>
    td, th {
        padding: 0 13px 0 0;
    }

    .glyphicon {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }

    .glyphicon-chevron-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .glyphicon-chevron-up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2>Person Name Form</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>

<h1>Список пользователей</h1>
<form method="get">
    <label>Имя: </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName" />

    <label>Компания: </label>
    <select name="company" asp-items="Model.FilterViewModel.Companies"></select>

    <input type="submit" value="Фильтр" />
</form>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Имя</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AgeSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Возраст</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Компания</a>
        </th>
    </tr>
    @foreach (var item in Model.People)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Company?.Name</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>